# Dealing with categorical data in python for Machine Learning
https://www.youtube.com/watch?v=lNZsTh3q1pw

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([['green', 'M', 10.1, 'class1'], 
                   ['red', 'L', 13.5, 'class2'], 
                   ['blue', 'XL', 15.3, 'class 1']])

In [3]:
df.columns = ['color', 'size', 'price', 'class_label']

In [4]:
df

   color size  price class_label
0  green    M   10.1      class1
1    red    L   13.5      class2
2   blue   XL   15.3     class 1

### Convert size to numeric (size has an order)

In [6]:
size_mapping = {'XL':3, 'L':2, 'M':1}

In [8]:
df['size'] = df['size'].map(size_mapping)

In [9]:
df

   color  size  price class_label
0  green     1   10.1      class1
1    red     2   13.5      class2
2   blue     3   15.3     class 1

### Convert color to numeric (color does *not* have an order)
One-hot encoding

In [11]:
df = pd.get_dummies(df[['price', 'color', 'size']])
df

   price  size  color_blue  color_green  color_red
0   10.1     1           0            1          0
1   13.5     2           0            0          1
2   15.3     3           1            0          0