# Machine Learning DataScience
## How to Deal with non numeric categorical data?
https://www.youtube.com/watch?v=EzxEZj-u_Ow

### Label Encoding
Male - Female : 1 - 0

Can use sklearn library

### Range Encoder
For ordered data; Ex: height groups

Groups 100-110, 110-120, 120-130, etc
* Use averages: 105, 115, 125
* Use upper height: 110, 120, 130
* Use lower height: 100, 110, 120

### One Hot Encoder
Matrix of 1s and 0s

List of cities, Mumbai, New York, Tokyo:  
* Add 3 columns: city_mumbai, city_ny, city_tokyo
* Add a 1 in the column that corresponds with the name