# Chapter 7: Handling Dates and Times

In [1]:
import numpy as np
import pandas as pd

## 7.1 Converting Strings to Dates

In [2]:
import numpy as np
import pandas as pd

In [3]:
date_strings = np.array(['03-04-2005 11:35 PM',
                         '23-05-2010 12:01 AM',
                         '04-09-2009 09:09 PM'])

#### Convert to datetimes

In [4]:
[pd.to_datetime(date, format='%d-%m-%Y %I:%M %p', errors='coerce') for date in date_strings]

[Timestamp('2005-04-03 23:35:00'),
 Timestamp('2010-05-23 00:01:00'),
 Timestamp('2009-09-04 21:09:00')]

## 7.2 Handling Time Zones

#### Set timezone when creating datetime

In [5]:
pd.Timestamp('2017-05-01 06:00:00', tz='Europe/London')

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

#### Add a timezone to an existing datetime

In [6]:
date = pd.Timestamp('2017-05-01 06:00:00')

Set time zone:

In [7]:
dateInLondon = date.tz_localize('Europe/London')

In [8]:
dateInLondon

Timestamp('2017-05-01 06:00:00+0100', tz='Europe/London')

#### Convert to a different timezone

In [9]:
dateInLondon.tz_convert('Africa/Abidjan')

Timestamp('2017-05-01 05:00:00+0000', tz='Africa/Abidjan')

#### Apply `tz_localize` and `tz_convert` to every element

Create dates

In [10]:
dates = pd.Series(pd.date_range('2/2/2002', periods=3, freq='M'))

In [12]:
dates

0   2002-02-28
1   2002-03-31
2   2002-04-30
dtype: datetime64[ns]

Set time zone

In [11]:
dates.dt.tz_localize('Africa/Abidjan')

0   2002-02-28 00:00:00+00:00
1   2002-03-31 00:00:00+00:00
2   2002-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

#### See all available time zone options

In [13]:
from pytz import all_timezones

In [16]:
len(all_timezones)

593

In [17]:
all_timezones[0:593:50]

['Africa/Abidjan',
 'Africa/Timbuktu',
 'America/Curacao',
 'America/Managua',
 'America/Shiprock',
 'Asia/Brunei',
 'Asia/Pyongyang',
 'Australia/Currie',
 'Etc/GMT+6',
 'Europe/Ljubljana',
 'Indian/Christmas',
 'Pacific/Niue']

## 7.3 Selecting Dates and Times