In [1]:
import pandas as pd

In [2]:
commentsDF = pd.read_csv('week-4/DailyComments.csv')

In [3]:
commentsDF.shape

(7, 2)

In [4]:
commentsDF

  Day of Week                                        comments
0      Monday                             Hello, how are you?
1     Tuesday                            Today is a good day!
2   Wednesday  It's my birthday so it's a really special day!
3    Thursday       Today is neither a good day or a bad day!
4      Friday                           I'm having a bad day.
5    Saturday       There' s nothing special happening today.
6      Sunday                      Today is a SUPER good day!

### Analyzing text for whether comments are positive or negative

In [5]:
from sklearn.feature_extraction.text import CountVectorizer

In [6]:
corpus = commentsDF['comments']

In [7]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(corpus)

In [8]:
print('vectorized words:\n', vectorizer.get_feature_names())

vectorized words:
 ['are', 'bad', 'birthday', 'day', 'good', 'happening', 'having', 'hello', 'how', 'is', 'it', 'my', 'neither', 'nothing', 'or', 'really', 'so', 'special', 'super', 'there', 'today', 'you']

In [9]:
print('identify Feature Words - Matrix View:\n', X.toarray())

identify Feature Words - Matrix View:
 [[1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 1]
 [0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0]
 [0 0 1 1 0 0 0 0 0 0 2 1 0 0 0 1 1 1 0 0 0 0]
 [0 1 0 2 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 1 0]
 [0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0]
 [0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1 0 1 0]]

In [10]:
df = pd.DataFrame({'text': corpus})

In [12]:
df

                                             text
0                             Hello, how are you?
1                            Today is a good day!
2  It's my birthday so it's a really special day!
3       Today is neither a good day or a bad day!
4                           I'm having a bad day.
5       There' s nothing special happening today.
6                      Today is a SUPER good day!

Check for positive / negative words:

In [13]:
df['positive1'] = df.text.str.count('good')
df['positive2']= df.text.str.count('special')
df['negative'] = df.text.str.count('bad')
df['TotScore'] = df.positive1 + df.positive2 - df.negative

In [14]:
df

,text,positive1,positive2,negative,TotScore
0,"Hello, how are you?",0,0,0,0
1,Today is a good day!,1,0,0,1
2,It's my birthday so it's a really special day!,0,1,0,1
3,Today is neither a good day or a bad day!,1,0,1,0
4,I'm having a bad day.,0,0,1,-1
5,There' s nothing special happening today.,0,1,0,1
6,Today is a SUPER good day!,1,0,0,1

In [15]:
Z = sum(df['TotScore'])

In [17]:
print('Net score:\n', Z)

Net score:
 3

### Jaccard Sample code

Comparing words

In [18]:
import collections

In [43]:
def jaccard(a, b):
    c = a.intersection(b)
    print('Intersection:\n', c)
    d = a.union(b)
    print('Union:\n', d)
    _a = collections.Counter(a)
    _b = collections.Counter(b)
    s = ( _a - _b ) + ( _b - _a )
    print('Symmetric difference:\n', s)
    n = sum(s.values())
    print('_a:\n', _a)
    print('_b:\n', _b)
    print('n:\n', n)
    return float( len(s) / ( len(a) + len(b) - len(s) ) )

In [39]:
list1 = ['dog', 'cat', 'rat', 'gerbil', 'rat', 'rat']
list2 = ['dog', 'cat', 'mouse', 'cow', 'horse', 'rat']

In [40]:
words1 = set(list1)
words2 = set(list2)

In [41]:
print('words1:\n', words1)
print('words2:\n', words2)

words1:
 {'rat', 'gerbil', 'dog', 'cat'}
words2:
 {'mouse', 'cow', 'rat', 'horse', 'cat', 'dog'}

In [44]:
z = jaccard(words1, words2)

Intersection:
 {'dog', 'rat', 'cat'}
Union:
 {'mouse', 'cow', 'gerbil', 'rat', 'horse', 'cat', 'dog'}
Symmetric difference:
 Counter({'gerbil': 1, 'mouse': 1, 'cow': 1, 'horse': 1})
_a:
 Counter({'rat': 1, 'gerbil': 1, 'dog': 1, 'cat': 1})
_b:
 Counter({'mouse': 1, 'cow': 1, 'rat': 1, 'horse': 1, 'cat': 1, 'dog': 1})
n:
 4

In [45]:
print("here's z:\n", z*100)

here's z:
 66.66666666666666

In [29]:
w1Count = collections.Counter(words1)
w1Count

Counter({'rat': 1, 'gerbil': 1, 'dog': 1, 'cat': 1})

In [31]:
w2Count = collections.Counter(words2)
w2Count

Counter({'mouse': 1, 'cow': 1, 'rat': 1, 'horse': 1, 'cat': 1, 'dog': 1})

In [34]:
oneFromTwo = w2Count - w1Count
oneFromTwo

Counter({'mouse': 1, 'cow': 1, 'horse': 1})

In [35]:
twoFromOne = w1Count - w2Count
twoFromOne

Counter({'gerbil': 1})

In [36]:
oneFromTwo + twoFromOne

Counter({'mouse': 1, 'cow': 1, 'horse': 1, 'gerbil': 1})

### Tfid Vectorizer Example

Provide a list of all words in the corpus

In [46]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [47]:
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
    ]

In [48]:
vectorizer = TfidfVectorizer()

In [49]:
X = vectorizer.fit_transform(corpus)

In [50]:
print(vectorizer.get_feature_names())

['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third', 'this']

In [51]:
print(X.shape)

(4, 9)

In [54]:
X.toarray()

array([[0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
        0.        , 0.38408524, 0.        , 0.38408524],
       [0.        , 0.6876236 , 0.        , 0.28108867, 0.        ,
        0.53864762, 0.28108867, 0.        , 0.28108867],
       [0.51184851, 0.        , 0.        , 0.26710379, 0.51184851,
        0.        , 0.26710379, 0.51184851, 0.26710379],
       [0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
        0.        , 0.38408524, 0.        , 0.38408524]])