## 1) Begin Milestone 1 with a 250-500-word narrative describing an original idea for an analysis/model building business problem.

I work in Research & Development for a company that makes animal vaccines. My job is, in part, to scale up the process from benchtop / lab scale to full production / manufacturing scale. For the past few years, I have been working on a particular microorganism that has proved to be finicky and not always predictable and, while they can be overlapped, each batch takes about 2 months, start to finish.   

Through a series of setbacks, I have now produced 12 batches between 2019 and I would like to see if I can find any insights in my data that might be helpful in maximizing the final yield, as quantified by ELISA testing for the target antigen.   

The scale up initially involves roller bottles and flasks in the clean lab, then goes through several vessels, ultimately finishing in a 1000 liter SUB (single-use bioreactor). The majority of my data comes from sampling the vessels at different timepoints, usually more spaced out early in each vessel, then daily as we hit log-phase growth and get ready to transfer to the next vessel. Because sampling isn’t always daily, there are a lot of days that we will have missing data.   

In addition to optimizing yield, there is another issue we’re trying to solve in that we currently use a piece of analytical equipment (MPbio_TotCt in the data) which correlates nicely with our ELISA results, which is helpful in determining when to harvest our final vessel. This equipment is no longer supported by the vendor and so we need to find a replacement. For several of these recent runs, we have been pulling additional samples to try out different analytical methods and equipment that correlates, hopefully with the old equipment, and preferably with the ELISA results.   

I should also note that we do pull in-process samples from our final vessel for ELISA testing, but the ELISA is a longer (overnight) test and we need a much faster method for in-process testing. For reference, the analytical equipment we are replacing could provide a result in just a couple of hours.

## 2) Then, do a graphical analysis creating a minimum of four graphs.
Label your graphs appropriately and explain/analyze the information provided by each graph. Keep in mind that your analysis may look very different from the Titanic tutorial graphical analysis.

### Load and clean up the data

In [1]:
# Load libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Load data to a DataFrame
vessel_data = pd.read_excel('Compiled_Lawsonia.xlsx')

In [3]:
# Check the dimensions of the table
print(f"The table is {vessel_data.shape[0]} rows x {vessel_data.shape[1]} columns.")

The table is 465 rows x 39 columns.

In [4]:
# Get an initial look at the data
vessel_data.head()

,Batch,Vessel,DPI,Date,Time,Temp_C,Agitation,DO_pct,pH_online,pH_offline,...,Micro_Comments,Intra_Code,Extra_Code,ELISA_KZO,ELISA_LNK,Live_Titer,VCD_OD,RNA,gDNA/1mL,Antifoam
0,369697PV,Flasks,3,2019-07-12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,369697PV,5L BLU,M,2019-07-12,09:25:00,36.0,40.0,7.37,7.035,6.783,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,369697PV,5L BLU,0,2019-07-12,10:53:00,35.8,40.0,15.39,6.983,7.118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,369697PV,5L BLU,1,2019-07-13,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,369697PV,5L BLU,2,2019-07-14,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are a lot of NaNs that will need to be dealt with.  
DPI is days post inoculation and that column contains several 'M's, which are just the media, prior to inoculation, and can also be removed.

In [5]:
# Remove rows from 'DPI' column which are 'M'
vessel_data = vessel_data[vessel_data.DPI!='M']

In [6]:
# Check each column for NaNs
pd.isnull(vessel_data).any()

Batch             False
Vessel            False
DPI                True
Date               True
Time               True
Temp_C             True
Agitation          True
DO_pct             True
pH_online          True
pH_offline         True
O₂_%sat            True
CO₂_%sat           True
L_Glut             True
Gluc               True
Lact               True
Ammon              True
Nuc_NonVi          True
Nuc_TotCt          True
Nuc_LiveCt         True
Nuc_Viab           True
MPbio_Blank        True
MPbio_Area         True
MPbio_TotCt        True
MPtvo_Blank        True
MPtvo_Area         True
MPtvo_TotCt        True
Intra_Ct           True
Micro_Intra        True
Micro_Extra        True
Micro_Comments     True
Intra_Code         True
Extra_Code         True
ELISA_KZO          True
ELISA_LNK          True
Live_Titer         True
VCD_OD             True
RNA                True
gDNA/1mL           True
Antifoam           True
dtype: bool

DPI shouldn't have any null values.

In [7]:
# Remove rows from 'DPI' which are NaN
vessel_data = vessel_data[vessel_data['DPI'].notnull()]

In [8]:
# Check the types of data
vessel_data.dtypes

Batch                     object
Vessel                    object
DPI                       object
Date              datetime64[ns]
Time                      object
Temp_C                   float64
Agitation                float64
DO_pct                   float64
pH_online                float64
pH_offline               float64
O₂_%sat                  float64
CO₂_%sat                 float64
L_Glut                   float64
Gluc                     float64
Lact                     float64
Ammon                    float64
Nuc_NonVi                 object
Nuc_TotCt                float64
Nuc_LiveCt               float64
Nuc_Viab                 float64
MPbio_Blank              float64
MPbio_Area               float64
MPbio_TotCt              float64
MPtvo_Blank              float64
MPtvo_Area               float64
MPtvo_TotCt              float64
Intra_Ct                 float64
Micro_Intra               object
Micro_Extra               object
Micro_Comments            object
Intra_Code               float64
Extra_Code               float64
ELISA_KZO                float64
ELISA_LNK                float64
Live_Titer               float64
VCD_OD                   float64
RNA                      float64
gDNA/1mL                 float64
Antifoam                 float64
dtype: object

Now that we romoved 'M' from the 'DPI' column the variable should be numeric, so we'll convert to integers.

In [9]:
# Convert 'DPI' column to numeric
vessel_data['DPI'] = vessel_data['DPI'].astype(int)

The 'Nuc_NonVi' should be numeric and I know what the issue is: there is a lower limit of detection of 5000 on that piece of equipment and if the value falls below that, we record as '<5k'. I will replace all of these with 2500 (half the lower limit).

In [10]:
# Replace '<5k' in 'Nuc_NonVi' column with 1/2 lower limit
vessel_data.Nuc_NonVi = vessel_data.Nuc_NonVi.replace('<5k', 5000/2)

The 'Micro_Intra' and 'Micro_Extra' are ordered categorical descriptions used when looking at the organism under the microscope. These are standardized, so I will create new columns 'Extra_Coded' and 'Intra_Coded' to code them into numeric values.

In [11]:
# Check the standard descriptions for microscopy
print(vessel_data.Micro_Intra.unique())
print(vessel_data.Micro_Extra.unique())

[nan 'Light, 1+' 'Some, 2+' 'Heavy, 3+' 'Very Light, <1+' 'Very Heavy, 4+']
[nan 'Some, 2+' 'Heavy, 3+' 'Very Heavy, 4+' 'Light, 1+' 'Very Light, <1+'
 'Heavy, 3+ ']

'Micro_Extra' appears to have an extra space in at least one of the fields, which will need to be stripped first.

In [12]:
# Strip whitespace from 'Micro_Extra' column
vessel_data['Micro_Extra'] = vessel_data.Micro_Extra.str.strip()

In [13]:
# Map values to new columns based on descriptions
dict = {'Very Light, <1+': 1, 'Light, 1+': 2, 'Some, 2+': 3, 'Heavy, 3+': 4, 'Very Heavy, 4+': 5}
vessel_data['Intra_Code'] = vessel_data['Micro_Intra'].map(dict)
vessel_data['Extra_Code'] = vessel_data['Micro_Extra'].map(dict)

The 'VCD_OD' column has data for a probe that I used on two runs, but was not working correctly for one of the runs and provided inaccurate data, which will need to be removed.

In [14]:
# Remove inaccurate data
vessel_data.loc[(vessel_data.Batch == '471341PV'), 'VCD_OD'] = np.nan

Many of the NaN values in the data set are days with no sampling and those can be removed completely.

In [15]:
print(f"{vessel_data.shape[0]} rows before removing non-sampling days.")

422 rows before removing non-sampling days.

In [16]:
# Remove rows that contain no data beyond the batch/vessel identifiers and day/date/time info
colList = vessel_data.columns[5:]
vessel_data.dropna(axis=0, subset=colList, how="all", inplace=True)

In [17]:
print(f"{vessel_data.shape[0]} rows after removing non-sampling days.")

352 rows after removing non-sampling days.

### Take another look at the data

In [18]:
vessel_data.head()

,Batch,Vessel,DPI,Date,Time,Temp_C,Agitation,DO_pct,pH_online,pH_offline,...,Micro_Comments,Intra_Code,Extra_Code,ELISA_KZO,ELISA_LNK,Live_Titer,VCD_OD,RNA,gDNA/1mL,Antifoam
0,369697PV,Flasks,3,2019-07-12,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,369697PV,5L BLU,0,2019-07-12,10:53:00,35.8,40.0,15.39,6.983,7.118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,369697PV,5L BLU,4,2019-07-16,08:47:00,36.0,40.0,6.14,7.038,6.978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,369697PV,5L BLU,7,2019-07-19,08:35:00,36.0,40.0,5.77,7.028,6.947,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,369697PV,50L BLU,0,2019-07-19,09:00:00,36.0,42.0,6.26,7.034,7.003,...,None,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
print("Describe Data:")

Describe Data:

In [20]:
print("\tColumns 1-11:")
vessel_data.describe().iloc[:,:11]

	Columns 1-11

,DPI,Temp_C,Agitation,DO_pct,pH_online,pH_offline,O₂_%sat,CO₂_%sat,L_Glut,Gluc,Lact
count,352.000000,339.000000,339.000000,339.000000,339.000000,262.000000,241.000000,246.000000,195.000000,249.000000,216.000000
mean,5.315341,35.986667,49.731711,6.416254,7.046743,7.052683,1.327440,0.082272,0.877846,3.892048,0.256074
std,3.858611,0.110077,10.182909,3.231918,0.042150,0.094749,9.046905,0.127859,0.846720,0.696477,0.278071
min,0.000000,34.780000,40.000000,0.160000,6.610000,6.658000,0.034000,0.008000,0.000000,1.080000,0.000000
25%,2.000000,36.000000,42.000000,5.590000,7.050000,7.006000,0.377000,0.055000,0.050000,3.600000,0.090000
50%,5.000000,36.000000,48.900000,5.980000,7.050000,7.050500,0.475000,0.073000,0.660000,4.120000,0.185979
75%,8.000000,36.000000,49.200000,6.300000,7.060000,7.091000,0.614000,0.089000,1.515000,4.390000,0.310000
max,15.000000,36.400000,67.300000,41.740000,7.140000,7.525000,100.000000,1.900000,3.270000,4.900000,1.760000

In [21]:
print("\tColumns 12-22:")
vessel_data.describe().iloc[:,11:22]

	Columns 12-22

,Ammon,Nuc_NonVi,Nuc_TotCt,Nuc_LiveCt,Nuc_Viab,MPbio_Blank,MPbio_Area,MPbio_TotCt,MPtvo_Blank,MPtvo_Area,MPtvo_TotCt
count,226.000000,269.000000,2.690000e+02,2.690000e+02,269.000000,240.000000,2.400000e+02,2.410000e+02,240.000000,240.000000,2.410000e+02
mean,1.924248,29711.895911,5.642305e+05,5.335465e+05,0.946986,1105.387500,4.740820e+05,1.207705e+08,289.845833,153250.683333,7.745817e+07
std,1.160151,42916.459196,4.361427e+05,4.072878e+05,0.050340,1404.196599,3.759511e+05,9.880619e+07,1363.298865,154588.907064,6.032180e+08
min,0.280000,2500.000000,1.500000e+04,1.000000e+04,0.561905,21.000000,2.790000e+03,6.690000e+05,0.000000,917.000000,2.190000e+05
25%,0.962500,2500.000000,1.890000e+05,1.840000e+05,0.928244,348.500000,1.376765e+05,3.430000e+07,11.000000,39264.000000,9.741250e+06
50%,1.800000,8000.000000,4.230000e+05,4.130000e+05,0.962121,568.000000,4.228810e+05,1.054670e+08,32.000000,113248.000000,2.940000e+07
75%,2.850000,42000.000000,8.550000e+05,8.230000e+05,0.980769,1111.000000,7.553715e+05,2.018952e+08,53.000000,200863.750000,5.370000e+07
max,5.930000,212000.000000,1.880000e+06,1.835000e+06,0.994111,7275.000000,1.400818e+06,3.940000e+08,16757.000000,716160.000000,9.384000e+09

In [22]:
print("\tColumns 23-32:")
vessel_data.describe().iloc[:,22:33]

	Columns 23-32

,Intra_Ct,Intra_Code,Extra_Code,ELISA_KZO,ELISA_LNK,Live_Titer,VCD_OD,RNA,gDNA/1mL,Antifoam
count,76.000000,247.000000,247.000000,82.000000,21.000000,5.000000,11.000000,47.000000,5.600000e+01,7.0
mean,15.894737,2.655870,3.890688,9263.341463,6926.571429,4.530000,1.521818,15827.859284,1.960579e+08,1.0
std,23.289242,1.054894,1.179170,3295.625088,2853.117638,0.710282,0.925406,22378.752738,1.507412e+08,0.0
min,0.000000,1.000000,1.000000,1630.000000,3156.000000,3.500000,0.050000,170.000000,2.545546e+06,1.0
25%,2.750000,2.000000,3.000000,6617.250000,4889.000000,4.500000,0.765000,1478.957764,7.661384e+07,1.0
50%,7.500000,3.000000,4.000000,9670.250000,5549.000000,4.500000,1.560000,7378.627930,1.359994e+08,1.0
75%,20.000000,3.000000,5.000000,11124.500000,9758.000000,4.650000,2.355000,23748.478516,2.879057e+08,1.0
max,127.000000,5.000000,5.000000,17020.000000,11965.000000,5.500000,2.580000,103762.656250,6.374318e+08,1.0

In [23]:
print("Summarized Data:")
vessel_data.describe(include=['O'])

Summarized Data:

,Batch,Vessel,Time,Micro_Intra,Micro_Extra,Micro_Comments
count,352,352,341,247,247,248
unique,12,5,162,5,5,23
top,381550PV,1000L SUB,09:00:00,"Some, 2+","Very Heavy, 4+",None
freq,38,109,7,97,105,225

### Think about the data

### Visualize Data

## 3) Write a short overview/conclusion of the insights gained from your graphical analysis.