# How to Import CSV in Python
https://www.youtube.com/watch?v=Kao4kk4vWa4

In [1]:
import pandas as pd

In [3]:
myDataset = pd.read_csv('all_data.csv')

In [4]:
myDataset.head()

,timestamp,total_addresses,blocksize,price_USD,hashrate,marketcap_USD,market-cap-value,transactions
0,1438214400,9205,644,0.0,23.7569,0.0,72049306.59,8893
1,1438300800,9361,582,0.0,48.1584,0.0,72085498.31,0
2,1438387200,9476,575,0.0,55.2709,0.0,72113204.25,0
3,1438473600,9563,581,0.0,64.1779,0.0,72141427.69,0
4,1438560000,9639,587,0.0,69.8559,0.0,72169404.41,0

In [5]:
x = myDataset.iloc[:,:].values

In [7]:
x.shape

(684, 8)

In [8]:
y = myDataset.iloc[:,:-1].values # don't take the last column

In [9]:
y.shape

(684, 7)

In [10]:
y = myDataset.iloc[:-1,:].values

In [11]:
y.shape

(683, 8)